@import url(//fonts.googleapis.com/earlyaccess/hanna.css);
@import url(//fonts.googleapis.com/earlyaccess/jejumyeongjo.css);

.hanna-font{
font-family: 'Hanna', serif;
color: black;
}
.jejumyeongjo-font{
font-family: 'Jeju Myeongjo', serif;/*웹 폰트 지정*/
color: black;
}

.cover {
width: 90%;
margin: 0 auto;
}

.simpledivcol1 {
display: inline-block;
vertical-align: top;
text-align: center;
font-size: 30px;
}
.simpledivcol2 {
display: inline-block;
vertical-align: top;
border-left: 1px solid;
text-align: left;
border-color: rgba(0,0,0,.1);
font-size: 17px;
}
.simpledivcol2 div {
text-align: left;
padding-left: 10%;
padding-right: 10%;
}
.simpledivcol3 {
display: inline-block;
vertical-align: top;
border-left: 1px solid;
text-align: left;
border-color: rgba(0,0,0,.1);
font-size: 17px;
}
.simpledivcol3 div {
text-align: left;
padding-left: 10%;
padding-right: 10%;
}
.divcol4 {
display: inline-block;
margin: 0;
border-right: 1px solid;
border-left: 1px solid;
width: 24.5%;
}

.leftdiv {
display: inline-block;
margin:0;
border-right: 1px solid;
border-left: 1px solid;
width: 48.5%;
height: 100%;
vertical-align: top;
}
.leftdivchild {
font-size:20px;
padding-left: 70%;
width: 100%;
vertical-align: top;
}

.rightdiv1 {
display: inline-block;
margin: 0;
border-right: 1px solid;
border-left: 1px solid;
width: 24.5%;
height: 100%;
}
.rightdiv1child:nth-of-type(n) {
display: inline-block;
width: 100%;
font-size: 17px;
padding-left: 10%;
padding-right: 10%;
}

.rightdiv2 {
display: inline-block;
margin: 0;
border-right: 1px solid;
border-left: 1px solid;
width: 24.5%;
}

.rinks {
border-color: gray;
text-align: center;
color: skyblue;
}

.simplelink {
display: flex;
align-items: center;
}

.detaillink {
    display: none;
}

.simple {
    display:inline-block;
    text-align: center;
}
.simplebtn {
    background-color:white;
    border: 1px solid;
    border-radius: 5%;
}
.detail {
    display:inline-block;
    text-align: center;
}
.detailbtn {
    background-color:white;
    border: 1px solid;
    border-radius: 5%;
}

.detaildivcol1 {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    border-color: rgba(0,0,0,0.1);
    font-size: 17px;
}
.detaildivcol1 div {
    text-align: left;
}
.detaildivcol2 {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    border-color: rgba(0,0,0,0.1);
    font-size: 17px;
}
.detaildivcol2 div {
    text-align: left;
}
